html, body, #root, .App {
  height: 100vh;
}
.arcade-display {
  margin: auto;
  width: 70vh;
  height: 70vh;
  box-shadow: 10px 10px 10px #343232;
}
.arcade-cabinet {
  height: 100vh;
  width: auto;
}
.message-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
}

.main-menu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}
.menu-item-well {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
}
.menu-item:hover {
  box-shadow: 10px 10px 10px #343232;
  cursor: pointer;
}
.difficulty-controls {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  height: 10vh;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.controls-explainer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 1%;
  text-align: center;
  font-weight: normal;
  font-size: large;
  font-size: 1vw;
}
.score {
  font-size: 1.25vw;
  font-weight: bold;
}
a {
  color: black;
  text-decoration: none;
}
